#s1cap1
{
padding-bottom: 300px;
margin-left: -850px;
font: bold 36px open sans;
}
#s1cap2
{
padding-bottom: 250px;
margin-left:-850px;
font: 26px open sans;
}
#s1cap3
{
padding-bottom: 200px;
margin-left:-850px;
font: 26px open sans;
}
#s1cap4
{
padding-bottom: 150px;
margin-left:-850px;
font: 26px open sans;
}
#s1cap5
{
padding-bottom: 90px;
margin-left:-850px;
font: 26px open sans;
}
#s1cap6
{
padding-bottom: 30px;
margin-left:-850px;
}

#s2cap1
{
padding-bottom: 300px;
font: bold 36px open sans;
margin-left: -1150px;
}
#s2cap2
{
padding-bottom: 250px;
font: 26px open sans;
margin-left: -1150px;
}
#s2cap3
{
padding-bottom: 150px;
font: 26px open sans;
margin-left: -1150px;
}
#s2cap4
{
padding-bottom: 50px;
font: 26px open sans;
margin-left: -1000px;
}

#s3cap1
{
padding-bottom: 300px;
font: bold 36px open sans;
}
#s3cap2
{
padding-bottom: 200px;
font: bold 36px open sans;
}
#s3cap3
{
padding-bottom: 100px;
font: bold 36px open sans;
}

#s4cap1
{
padding-bottom: 300px;
margin-left: 100px;
font: bold 36px open sans;
}
#s4cap2
{
padding-bottom: 250px;
margin-left: 100px;
font: bold 36px open sans;
}
#s4cap3
{
padding-bottom: 200px;
margin-left: 100px;
font: 26px open sans;
}
#s4cap4
{
padding-bottom: 150px;
margin-left: 100px;
font: 26px open sans;
}
#s4cap5
{
padding-bottom: 100px;
margin-left: 100px;
font: 26px open sans;
}
#s4cap6
{
padding-bottom: 40px;
margin-left: 100px;
}
#s4cap7
{
padding-bottom: 50px;
margin-left: -800px;
}

